.blacknav {
    background-color: #323743 !important;
    background: #323743 !important;
    color: #d2dae0 !important;
}


/* .sidebar-footer {
    border-top: 1px solid transparent !important;
} */

#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav ul {
    background: transparent;
}

.flex-btn-form-group select {
    border-radius: 4px 0 0 4px !important;
}

.flex-btn-form-group .btn {
    border-radius: 0 4px 4px 0 !important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem -260px 0 !important;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid #e9ecef;
    border-radius: 4px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .1);
}

.page-breadcrumb .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: "\e649";
    font-family: themify;
    color: black;
    font-size: 11px;
    padding-top: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
}

.main21 {
    font-size: 120%;
    color: red;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.checkbox label::before {
    border: 1px solid #848484 !important;
}

input:checked+.slider {
    background-color: #2ab934;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}


/*------ ADDED CSS ---------*/

.on {
    display: none;
}

.on {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 45%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

.off {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+.slider .on {
    display: block;
}

input:checked+.slider .off {
    display: none;
}


/*--------- END --------*/


/* Rounded sliders */

.slider.round {
    width: auto !important;
    height: auto !important;
    line-height: 70px;
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dd-handle {
    cursor: pointer;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.select-box {
    width: 100%;
    padding: 5px;
}

.overflow-wrap {
    overflow: hidden;
    overflow-wrap: anywhere !important;
    height: 16px !important;
    font-size: .9rem !important;
    padding: 5px 5px !important;
}

body[data-theme=dark] #save_company_form .form-control,
body[data-theme=dark] #save_tickets .form-control,
body[data-theme=dark] #rfq_form .form-control {
    background-color: #323743;
    color: rgb(54, 53, 53);
}

.bootstrap-tagsinput input {
    color: #000 !important;
}

.buttons-highlight {
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px 10px;
}

.dark-calendar::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


/* search input field change backgroud color */

body[data-theme=dark] .css-bar:after,
body[data-theme=dark] .custom-file-label,
body[data-theme=dark] .custom-select,
body[data-theme=dark] .dtp>.dtp-content,
body[data-theme=dark] .form-control,
body[data-theme=dark] .jsgrid-header-row>.jsgrid-header-cell,
body[data-theme=dark] .jsgrid-row>.jsgrid-cell,
body[data-theme=dark] .list-group-item,
body[data-theme=dark] .lobilists .lobilist,
body[data-theme=dark] .modal-content,
body[data-theme=dark] .nav-tabs .nav-item.show .nav-link,
body[data-theme=dark] .nav-tabs .nav-link.active,
body[data-theme=dark] .note-editor.note-frame .note-editing-area .note-editable,
body[data-theme=dark] .note-editor.note-frame .note-statusbar,
body[data-theme=dark] .page-item.disabled .page-link,
body[data-theme=dark] .page-link,
body[data-theme=dark] .select2-container--classic .select2-selection--single,
body[data-theme=dark] .select2-container--default .select2-selection--multiple,
body[data-theme=dark] .select2-container--default .select2-selection--single {
    background-color: #fff;
}

body[data-theme=dark] #save_company_form .form-control,
body[data-theme=dark] #save_tickets .form-control,
body[data-theme=dark] #rfq_form .form-control {
    background-color: #fff;
    color: rgb(54, 53, 53);
}


/* change block darkmode background color */

body[data-theme=dark] .card,
body[data-theme=dark] .css-bar:after,
body[data-theme=dark] .custom-file-label,
body[data-theme=dark] .custom-select,
body[data-theme=dark] .dtp>.dtp-content,
body[data-theme=dark] .form-control,
body[data-theme=dark] .jsgrid-header-row>.jsgrid-header-cell,
body[data-theme=dark] .jsgrid-row>.jsgrid-cell,
body[data-theme=dark] .list-group-item,
body[data-theme=dark] .lobilists .lobilist,
body[data-theme=dark] .modal-content,
body[data-theme=dark] .nav-tabs .nav-item.show .nav-link,
body[data-theme=dark] .nav-tabs .nav-link.active,
body[data-theme=dark] .note-editor.note-frame .note-editing-area .note-editable,
body[data-theme=dark] .note-editor.note-frame .note-statusbar,
body[data-theme=dark] .page-item.disabled .page-link,
body[data-theme=dark] .page-link,
body[data-theme=dark] .select2-container--classic .select2-selection--single,
body[data-theme=dark] .select2-container--default .select2-selection--multiple,
body[data-theme=dark] .select2-container--default .select2-selection--single {
    background-color: #252629;
}

.fileName {
    font-weight: 500;
}