/*Custom Sidebar Changes*/

.brand-text {
    font-size: 1.33em !important;
}

.slogan:after {
    opacity: 0;
}
table.dataTable td,table.dataTable th {
    padding: 3px 10px;
    width: 1px;
    white-space: nowrap;
}
table.dataTable>thead>tr>th:not(.sorting_disabled), table.dataTable>thead>tr>td:not(.sorting_disabled) {
    padding-right: 30px !important;
}


.bor-top{
    border-top: 1px solid #c1c1c1;
    padding-top:10px;
}

table thead, .table_head_back {
    background: #ebe9f1 !important;
  
}
.nav-toggle{
    position: absolute;
    top: -17px;
    right: 0;
}
/*Custom Sidebar Changes*/